@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gudea:wght@400;700&family=Josefin+Sans:wght@300&display=swap');
:root {
    --josefin: 'Josefin Sans';
    --gudea: 'Gudea';
    --fredericka: 'Fredericka the Great cursive';
}

#home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.home-content {
    position: absolute;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0.8;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.home-jumbotron {
    position: relative;
    padding: 140px 10px 80px 10px;
    color: #fff;
    width: 100%;
}

.home-intro, .home-name, .home-paragraph {
    font-family: var(--josefin);
    padding-bottom: 10px;
    color: white;
    z-index: 100;
}

.home-name {
    margin-top: 5px;
    font-size: 2.4em;
    line-height: 40px;
}

.home-paragraph {
    line-height: 20px;
}

.alt-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 25vw;
    z-index: 100;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

.icons {
    color: #fff;
    transform: scale(2.5);
}

.github {
    background: #343434;
}

.github:hover {
    background: #222222;
}

.linkedin {
    background: #1F618D;
}

.linkedin:hover {
    background: #134c72;
}

.twitter {
    background: #0076C6;
}

.twitter:hover {
    background: #008be794;
}

.resume {
    background: #474747;
}

.resume:hover {
    background: #303030;
}

.home-footer {
    position: absolute;
    bottom: 0;
    border-top: 3px solid #fff;
    width: 100%;
    height: 60px;
    background: rgb(3, 13, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 8px;
    width: 8px;
}