/* Mobile First */

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gudea:wght@400;700&family=Josefin+Sans:wght@300&display=swap');
:root {
    --josefin: 'Josefin Sans';
    --gudea: 'Gudea';
    --fredericka: 'Fredericka the Great cursive';
}

#home-container {
    width: 100vw;
    height: 100vh;
}

.home-content {
    position: absolute;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0.8;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.home-jumbotron {
    margin-bottom: 50px;
}

.home-jumbotron-text {
    position: relative;
    z-index: 10;
    margin-top: 140px;
    padding: 10px;
    color: #fff;
    width: 100%;
    height: 260px;
}

.home-intro, .home-name, .home-paragraph {
    font-family: var(--josefin);
    padding: 10px;
    color: white;
    z-index: 100;
}

.home-name {
    margin-top: 5px;
    font-size: 2.4em;
    line-height: 40px;
}

.home-paragraph {
    line-height: 20px;
}

.alt-links {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 20px;    
    justify-content: space-evenly;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    z-index: 100;
}

.icons {
    color: #fff;
    transform: scale(2.5);
}

.github {
    background: #343434;
}

.linkedin {
    background: #1F618D;
}

.twitter {
    background: #0076C6;
}

.resume {
    background: #474747;
}
