#projects-container {
    position: relative;
    width: 100vw;
}

.projects-content {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
}

.row {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.p-1 {
    border: 1px solid blue;
    width: 70%;
    height: 200px;
}

.space {
    border: 1px solid yellow;
    width: 30%;
    height: 200px;
}