.education-card-container {
    position: relative;
    font-family: var(--josefin);
}

.card-expand {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-retract {
    display: none;
}

.education-fontawesome-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-evenly;
    padding: 20px;
}

.education-card-image {
    object-fit: contain;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    padding: 15px 0;
}

.education-card-program {
    padding: 15px 15px 0px 15px;
}

.education-card-courses {
    padding: 15px;
    list-style: none;
}

.education-card-courses li {
    line-height: 20px;
}

.education-card-link {
    padding: 0 15px 10px 15px;
    text-decoration: none;
}

.codefellows {
    background: rgb(14, 14, 14);
}

.codewars {
    background: rgb(27, 27, 27);
}