.menu-container {
    position: absolute;
    height: 60px;
    width: 100vw;
    background: rgb(3, 13, 27);
    border-bottom: 3px solid #fff;
    z-index: 10;
    overflow: hidden;
}

.img-container {
    position: absolute;
    top: 15px;
    width: 120px;
    height: 120px;
    right: 40px;
    border-radius: 50%;
    border: 3px solid #fff;
    overflow: hidden;
    transition: 1s ease-in-out;
    z-index: 10;
}

.profile-pic {
    width: 120px;
}

.hamburger-menu {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 25px;
    z-index: 200;
    cursor: pointer;
}

.hamburger-menu-lines, .hamburger-menu-lines::before, .hamburger-menu-lines::after {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 2mm;
}

.hamburger-menu-lines::before {
    content: '';
    position: absolute;
    top: 10px;
}

.hamburger-menu-lines::after {
    content: '';
    position: absolute;
    top: 20px;
}

.expand-menu {
    height: 100%;
    transition: 1s ease-in-out;
}

.retract-menu {
    transition: 1s ease-in-out;
}

.slide-image {
    top: -150px;
    transition: 350ms ease-in-out;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.menu a {
    font-family: var(--josefin);
    font-size: 1.6em;
    color: #fff;
    text-decoration: none;
}

.select-1 {
    margin-top: 150px;
}

.select-2 {
    margin-top: 70px;
}

.select-3 {
    margin-top: 70px;
}