/* Primary Styles */

#home-container {
    background: #fff;
    margin-top: 150px;
    margin-left: 25px;
    min-width: 350px;
    height: 700px;
    border: 1px solid red;
    box-shadow: 0px 5px 20px 10px rgba(109, 109, 109, 0.3);
    transition: 1s ease-in-out;
}

/* profile image */

.primary .image-container {
    margin: -60px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #fff;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.primary .image-container .profile-pic {
    width: 200px;
}

/* My name, job title, and location */

.primary .jumbotron {
    display: flex;
    flex-direction: column;
    font-family: var(--josefin);
    align-items: center;
    margin-top: 100px;
    line-height: 2.4em;
}

.primary .jumbotron .name {
    font-size: 1.8em;
}

.primary .jumbotron .job-title {
    font-size: 1.2em;
}

.primary .jumbotron .location {
    font-size: 1.4em;
    text-decoration: none;
    color: black;
}

.primary .jumbotron .location i {
    padding-right: 10px;
}

/* github, linkedin, twitter links */

.primary .fontawesome-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.primary .fontawesome-icons a {
    padding: 5px 20px;
}

.primary .fontawesome-icons a i {
    transform: scale(2);
    color: black;
}

/* tech stack */

.primary .tech-stack-container .title {
    font-family: var(--josefin);
    margin: 60px 0 0 30px;
    font-size: 1.6em;
}

.primary .tech-stack-container .stack {
    margin: 10px 30px 100px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.primary .tech-stack-container .stack .item {
    background:rgb(245, 245, 245);
    font-family: var(--josefin);
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: 900;
    border-radius: 5mm;
}

/* change theme button */

.change-theme {
    background: transparent;
    cursor: pointer;
    border: none;
    font-family: var(--josefin);
    font-size: 1.4em;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

/* hide on desktop */
.primary .ext-links {
    display: none;
}



/*
.video-background {
    position: absolute;
    opacity: 0.8;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}




.alt-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 25vw;
    z-index: 100;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

.icons {
    color: #fff;
    transform: scale(2.5);
}

.github {
    background: #343434;
}

.github:hover {
    background: #222222;
}

.linkedin {
    background: #1F618D;
}

.linkedin:hover {
    background: #134c72;
}

.twitter {
    background: #0076C6;
}

.twitter:hover {
    background: #008be794;
}

.resume {
    background: #474747;
}

.resume:hover {
    background: #303030;
}

.home-footer {
    position: absolute;
    bottom: 0;
    border-top: 3px solid #fff;
    width: 100%;
    height: 60px;
    background: rgb(3, 13, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 8px;
    width: 8px;
}

/* Desktop */

/* #home-container {
    position: relative;
    width: 400px;
    height: 600px;
    border: 1px solid red;
} */

/*
.home-content {
    position: absolute;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0.8;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.home-jumbotron {
    position: relative;
    padding: 140px 20px 80px 20px;
    color: #fff;
    width: 100%;
}

.home-intro, .home-name, .home-paragraph {
    font-family: var(--josefin);
    padding-bottom: 10px;
    color: white;
    z-index: 100;
}

.home-name {
    margin-top: 5px;
    font-size: 2.4em;
    line-height: 40px;
}

.home-paragraph {
    line-height: 20px;
}

.alt-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 25vw;
    z-index: 100;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

.icons {
    color: #fff;
    transform: scale(2.5);
}

.github {
    background: #343434;
}

.github:hover {
    background: #222222;
}

.linkedin {
    background: #1F618D;
}

.linkedin:hover {
    background: #134c72;
}

.twitter {
    background: #0076C6;
}

.twitter:hover {
    background: #008be794;
}

.resume {
    background: #474747;
}

.resume:hover {
    background: #303030;
}

.home-footer {
    position: absolute;
    bottom: 0;
    border-top: 3px solid #fff;
    width: 100%;
    height: 60px;
    background: rgb(3, 13, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 8px;
    width: 8px;
}
*/