@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
/* @import "react-alice-carousel/lib/alice-carousel.css"; */

/* Core Styles */
:root {
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
    --background-color: #001624;
    --twitter-blue: #03a9f4;
    --compliment-orange: #e08f1e;
    --off-white: #fff;
    --title: 'Yusei Magic', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    min-height: 80vh;
}

.menu-wrap {
    display: none;
}

/* Header */
.header-logo {
    font-family: var(--title);
    font-size: 2rem;
}

.header-logo .r {
    color: var(--twitter-blue);
}

.header-logo .dot {
    color: var(--off-white);
}

.header-logo .monty {
    color: var(--off-white);
}

.header-logo:hover .r, .monty {
    color: var(--compliment-orange);
    transition: 0.5s;
}
/* Home Screen */


/* About Screen */


/* Works Screen */


/* Education Screen */
.font-awesome-icons {
    display: flex;
    flex-direction: row;
    list-style: none;
}

@media (max-width: 600px) {
    
    /* Education Screen */
    .font-awesome-icons {
        justify-content: center;
    }
}