@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

/* Core Styles */
:root {
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
    --background-color: #001624;
    --twitter-blue: #438ae7;
    --compliment-orange: #f0900a;
    --off-white: #fff;
    --title: 'Yusei Magic', sans-serif;
    --logo: 'Nanum Brush Script', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#desktop {
    display: flex;
    flex-direction: column;
}

#mobile {
    display: none;
}

html, body {
    background: var(--background-color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

main {
    min-height: 80vh;
}

/* Header Styles */
.header-logo {
    font-family: var(--logo);
    font-size: 2rem;
}

.header-logo > .r {
    color: var(--twitter-blue);
}

.header-logo > .dot {
    color: var(--off-white);
}

.header-logo > .monty {
    color: var(--off-white);
    transition: 0.5s ease-in-out;
}

.header-logo:hover > .monty {
    color: var(--twitter-blue);
    transition: 0.5s ease-in-out;
}

#basic-navbar-nav span {
    color: var(--off-white);
    font-size: 1rem;
}

#basic-navbar-nav .about-nav:hover {
    color: var(--compliment-orange);
    transition: 0.3s ease-in-out;
}

#basic-navbar-nav .works-nav:hover {
    color: var(--compliment-orange);
    transition: 0.3s ease-in-out;
}

#basic-navbar-nav .skills-nav:hover {
    color: var(--compliment-orange);
    transition: 0.3s ease-in-out;
}

.menu-wrap {
    display: none;
}

/* Home Screen */
.home-screen-container {
    background: transparent;
}

.home-screen-container h2 {
    color: var(--twitter-blue);
    font-size: 2rem;
    margin-top: 20vh;
}

.home-screen-container h1 {
    font-size: 5rem;
}

.home-screen-container p {
    font-size: 1.2rem;
}
/* About Screen */
.about-screen-container {
    /* background: url('../public/images/bw-background.jpg'); */
}

/* Works Screen */

/* Education Screen */
.font-awesome-icons {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.card-link {
    margin: -10px 0 0 -15px;
}

@media (max-width: 600px) {
    #desktop {
        display: none;
    }
    
    #mobile {
        display: flex;
        flex-direction: column;
    }

    /* Hamburger Styles */
    .hamburger-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hamburger-link {
        color: var(--off-white);
        font-size: 1.5rem;
        padding: 20px;
    }
    
    .hamburger-menu {
        display: flex;
    }
    
    .menu-wrap {
        display: flex;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    
    .menu-wrap .toggler:checked {
        position: fixed;
    }
    
    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .hamburger > div {
        position: relative;
        flex: none;
        width: 30px;
        height: 2px;
        background: var(--off-white);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    .menu-wrap .hamburger > div::before,
    .menu-wrap .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 30px;
        height: 2px;
        background: inherit;
    }
    
    .menu-wrap .hamburger > div::after {
        top: 10px;
    }
    
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
        position: fixed;
        width: 30px;
    }
    
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }
    
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
    
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }
    
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: var(--off-white);
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

    /* Home Screen */
    .home-screen-container {
        /* margin-top: 10vh; */
        height: 90vh;
    }
    
    .home-screen-container h2 {
        color: var(--twitter-blue);
        font-size: 1.3rem;
        margin-left: 15px;
    }
    
    .home-screen-container h1 {
        font-size: 3rem;
        font-weight: 600;
        margin: 16px 0 20px 12px;
    }
    
    .home-screen-container p {
        font-size: 0.9rem;
        margin-left: 15px;
        padding-top: 5px;
    }

    @keyframes indicate-arrow {
        0% { margin-top: 25vh; color: var(--off-white); }
        25% { margin-top: 26vh; color: var(--compliment-orange); }
        50% { color: var(--off-white); }
        75% { color: var(--off-white); }
        100% { margin-top: 25vh; color: var(--off-white); }
    }
    
    .home-arrow {
        animation: indicate-arrow 1.5s infinite;
        display: flex;
        justify-content: center;
        margin-top: 30vh;
    }

    /* About Screen */
    .about-screen-container {
        height: 100vh;
        /* background: url('../public/images/bw-background.jpg') */
    }

    /* Works Screen */
    .works-screen-container {
        background: transparent;
        min-height: 80vh;
        margin-bottom: 10vh;
    }

    .works-screen-container .works-card-container {
        background: transparent;
    }

    /* Education Screen */
    .font-awesome-icons {
        justify-content: space-around;
    }

    .card-container {
        background: transparent;
    }

    .card-container .card-title {
        font-size: 1.2rem;
        margin: -40px 0 25px -10px;
        color: var(--twitter-blue);
    }

    .card-container .card-subtitle {
        font-size: 1rem;
        margin: -20px 0 30px -10px;
    }

    .card-container .card-list {
        font-size: .9rem;
        margin: -35px 0 0 -10px;
    }

    .card-container .card-link {
        margin: -15px 0 0 -25px;
    }

    /* Footer Styles */
}

@media (max-width: 400px) {
    .home-arrow {
        margin-top: 25vh;
    }   
}